ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 122px;
}

:root {
    --first-text-color: #828282;
    --secondary-text-color: #070707;
    --btn-text-color: #FFFFFF;
    --first-text-style: 'ABeeZee', sans-serif;
    --backgroind-color: #F6F6F6;
}

html {
    scroll-behavior: smooth;
}

/* Header */

@media screen and (max-width:767px) {
    .header {
        display: none;
    }
}

.header-list {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.header-list__item:not(:last-child) {
    margin-right: 130px;
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .header-list__item:not(:last-child) {
        margin-right: 80px;
    }
}

.header-list__link:hover,
.header-list__link:focus {
    color: var(--secondary-text-color);
}

.header-list__link {
    font-family: var(--first-text-style);
    font-size: 18px;
    line-height: 22px;
    transition: 250ms ease;

    color: var(--first-text-color);
}


/* Hero */

.bg-fon {
    background-image: url(../img/port-comp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 387px;
    width: 943px;
    margin-bottom: 93px;
}

@media screen and (max-width:767px) {
    .img-wraper{
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width:767px) {
    .bg-fon {
        background-image: url(../img/port-mb.jpg);
        width: 316.5px;
        height: 478px;
        margin-bottom: 83px;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .bg-fon {
        height: 347px;
        width: 584px;
        background-image: url(../img/portfolio-photo.jpg);
    }
}

.hero>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media screen and (max-width:767px) {
    .hero>.container {
        display: flex;
        flex-direction: column;
    }
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.hero-title {
    width: 350px;
    margin-top: 32px;
    font-family: var(--first-text-style);
    font-size: 47.3392px;
    line-height: 59px;
}

@media screen and (max-width:767px) {
    .hero-title {
        margin-bottom: 23px;

    }
}

.hero-sckill {
    font-family: var(--first-text-style);
    font-size: 18px;
    line-height: 22px;
    width: 155px;
    margin-right: 280px;

    color: var(--secondary-text-color);
}

@media screen and (max-width:767px) {
    .hero-sckill {
        margin-bottom: 36px;
        text-align: end;
    }
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 40px;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
}

@media screen and (min-width:768px) {
    .mobile-menu {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu__svg {
    top: 0;
    right: 0;
    cursor: pointer;
    transition: 250ms ease;
}

.mobile-menu__svg:hover,
.mobile-menu__svg:focus {
    fill: var(--first-text-color);
}

.mobile-menu__button {
    border-color: transparent;
    background-color: transparent;
    position: absolute;
}

@media screen and (min-width:768px) {
    .mobile-menu__button {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.button-open {
    top: 68px;
    right: 30px;
}

.button-close {
    top: 38px;
    right: 134px;
}

.mobile-menu__item {
    margin: 32px 0;
    transition: 250ms ease;
}

.mob-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-link {
    font-size: 34px;
    line-height: 42px;
}

.mobile-menu__contacts {
    margin-top: 100px;
}

.mobile-menu__contact-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    transition: 250ms ease;
    color: var(--primary-text-color);
}

.mobile-menu__contact-link:hover,
.mobile-menu__contact-link:focus {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 40px;
}

.mobile-menu__socials {
    display: flex;
}

.mobile-menu__socials-link {
    color: var(--accent-color);
}

.mobile-menu__socials-item:not(:last-child) {
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials-item:last-child {
    padding-left: 10px;
}

/* About */

.about-bg {
    background-color: var(--backgroind-color);
    width: 100%;
    height: 506px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    font-family: var(--first-text-style);
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    color: var(--secondary-text-color);
}

.about-me {
    font-family: var(--first-text-style);
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: var(--secondary-text-color);
}

/* Skills */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

.skills-title {
    font-family: var(--first-text-style);
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    color: var(--secondary-text-color);
}

.skills-discr {
    font-family: var(--first-text-style);
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 83px;

    color: var(--secondary-text-color);
}

.skill-list {
    display: flex;
}

@media screen and (max-width:767px) {
    .skill-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.skill-item:not(:last-child) {
    margin-right: 90px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:767px) {
    .skill-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 81px;
    }
}

.skill-img__dicsr {
    font-family: var(--first-text-style);
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: var(--first-text-color);
}

/* Icons */

.skill-icon {
    display: flex;
}

/* Works */

.work {
    padding: 100px 0;
}

.work-bg {
    background-color: var(--backgroind-color);
    width: 100%;
    height: 1223px;
}

@media screen and (max-width:767px) {
    .work-bg {
        height: 800px;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .work-bg {
        width: 100%;
        height: 908px;
    }
}

.work-title {
    font-family: var(--first-text-style);
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    color: var(--secondary-text-color);
}

.work-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-item__img {
    margin-bottom: 45px;
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .work-item__img {
        width: 593px;
        height: 333px;
    }
}

@media screen and (max-width:767px) {
    .work-item__img {
        width: 416px;
        height: 271px;
    }
}

@media screen and (min-width:320px) and (max-width:500px) {
    .work-item__img {
        width: 273px;
        height: 155px;
    }

    .work-bg {
        height: 546px;
    }
}

.work-item:not(:last-child) {
    margin-bottom: 40px;
}

.work-item__link {
    font-family: var(--first-text-style);
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;

    color: var(--secondary-text-color);
    transition: 250ms ease;
}

.work-item__link:hover,
.work-item__link:focus {
    color: var(--first-text-color);
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    font-family: var(--first-text-style);
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    color: var(--secondary-text-color);
}

.footer-discr {
    font-family: var(--first-text-style);
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: var(--secondary-text-color);
}

.button {
    border-radius: 50px;
    border-color: transparent;
    background-color: var(--secondary-text-color);
    width: 180.5px;
    height: 42px;
    align-items: center;
    cursor: pointer;

    margin-bottom: 40px;
    transition: 250ms ease;
}

@media screen and (max-width:767px) {
    .button {
        width: 316px;
        height: 42px;
    }
}

.button:hover,
.button:focus {
    background-color: var(--first-text-color);
}

.btn-text {
    font-family: var(--first-text-style);
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    color: var(--btn-text-color);
}

.footer-group {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

@media screen and (max-width:767px) {
    .footer-group {
        display: flex;
        flex-direction: column;
    }
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

@media screen and (max-width:767px) {
    .contacts-item {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .contacts-item:not(:last-child) {
        margin-right: 0;
    }
}

.contacts-item__link {
    font-family: var(--first-text-style);
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    color: var(--secondary-text-color);
    transition: 250ms ease;
}

.contacts-item__link:hover,
.contacts-item__link:focus {
    color: var(--first-text-color);
}

.footer-socials {
    display: flex;
    justify-content: center;
}

.socials-item:not(:last-child) {
    margin-right: 30px;
}

.footer-wish {
    font-family: var(--first-text-style);
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: var(--first-text-color);
    width: 143px;
}

/* Icons footer */

.socials-item {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 250ms ease;
}

.socials-item:hover,
.socials-item:focus {
    background-color: var(--first-text-color);
}

.socials-item__link {
    display: flex;
}

.socials-item:hover .skill-img__icon,
.socials-item:focus .skill-img__icon {
    fill: var(--btn-text-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ease-in-out;
}